body{
    background-color:bisque ;
}

.stone, .scissors, .paper {
    width: 30%; 
    max-width: 200px; 
    height: auto; 
    margin-top: 20%;
}

.container {
    display: flex;
    justify-content: center; 
    gap: 20px; 
}